*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  width: 100%;
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  color: #f18613;
  font-weight: 300;
  background-color: #d9ecef; }

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.heading-2 {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem; }

.paragraph {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.7rem; }

.header {
  background-color: #d9ecef;
  grid-column: full-start / full-end;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-bottom: 2rem; }
  .header a {
    font-weight: 400;
    font-size: 1.8rem; }
  .header__item {
    text-decoration: none;
    color: #f18613;
    font-size: 1.5rem; }

.profile-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-bottom: 2rem; }
  .profile-header a {
    font-weight: 400;
    font-size: 1.8rem; }

.profile {
  background-color: #d9ecef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 4rem;
  margin-top: 10rem; }
  .profile__image {
    display: flex;
    justify-content: center; }
  .profile__img {
    width: 15rem;
    border-radius: 50%;
    display: block;
    background-color: #fff; }
  .profile__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 10rem; }
  .profile__links {
    margin-top: 2rem;
    font-size: 3.5rem;
    display: flex;
    flex-direction: row; }

x .skills {
  background-color: orange; }

.footer {
  background-color: #d9ecef;
  grid-column: full-start / full-end;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__content {
    font-size: 3.5rem; }

.fab {
  color: #f18613; }

.cards {
  background: #d9ecef;
  grid-column: center-start / center-end;
  display: grid;
  margin: 5rem 6rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.card {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 3rem;
  box-shadow: 0 0.2rem 4rem black; }
  .card__img {
    width: 100%;
    grid-column: 1 / -1;
    border-radius: 3rem 3rem 0rem 0rem; }
  .card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / -1;
    margin-left: 1rem; }
  .card__title {
    z-index: 3;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    width: 70%;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding: 1.2rem;
    background-color: #f18613;
    color: #fff;
    transform: translateY(-50%);
    border-radius: 3rem; }
  .card__description p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2.5rem;
    height: 9rem; }
  .card__item--links {
    margin-bottom: 1.2rem;
    grid-column: 1 / -1;
    margin: 10px 15px 20px 15px; }
    .card__item--links a {
      text-decoration: none;
      font-size: 1.2rem;
      background-color: #f18613;
      color: #fff;
      padding: 0.2rem 0.7rem;
      border-radius: 3rem;
      margin: 1rem; }
