.header {
  background-color: $color-primary;
  grid-column: full-start / full-end;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
  margin-right: 2rem;

  a {
    font-weight: 400;
    font-size: 1.8rem;
  }

  &__item {
    text-decoration: none;
    color: $color-secondary;
    font-size: 1.5rem;
  }
}
