.profile-page-body {
  margin: 0;
  min-height: 100vh;
  background-color: orange;
}

.profile {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__wrapper {
    flex: 1 1;
  }

  &__header {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: $color-secondary;
      font-weight: 400;
      font-size: 1.8rem;
      margin-right: 2rem;
    }
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 45%;

    transform: translate(-50%, -50%);

    display: flex;

    justify-content: space-evenly;

    align-items: center;
    border-radius: 10px;
    color: hsla(0, 0%, 100%, 0.8);
    height: 60vh;
    width: 60vw;
  }

  &__picture {
    justify-self: center;
    margin-right: 20px;
  }

  &__img {
    border-radius: 50%;
    height: 220px;
    width: 220px;
    margin-bottom: 1rem;
  }

  &__description {
    width: 400px;
    margin-left: 20px;
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-align: left;
  }

  &__footer {
    color: #a3b18a;
    font-size: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-bottom: 5px;
  }

  &__footer--links {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;

    a {
      margin: 0.5rem;
    }
  }
}

@media only screen and (max-width: 770px) {
  .profile__header {
    margin-right: 0;
    position: relative;
    right: auto;
    align-content: center;
  }
}

@media only screen and (max-width: 770px) {
  .profile__header--link {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 770px) {
  .profile__content {
    display: flex;
    flex-direction: column;
    top: 50%;
  }
}

@media only screen and (max-width: 770px) {
  .profile__picture {
    margin-right: 0;
  }
}

@media only screen and (max-width: 770px) {
  .profile__img {
    height: 180px;
    width: 180px;
  }
}

@media only screen and (max-width: 770px) {
  .profile__description {
    font-size: 0.8rem;
    width: 80vw;
  }
}
